In [303]:
from urllib.request import urlopen as uReq

In [304]:
from bs4 import BeautifulSoup as soup

In [305]:
my_url = 'https://www.bls.gov/eag/eag.tx_midland_msa.htm'

In [306]:
uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()

In [307]:
page_soup = soup(page_html, 'html.parser')

In [308]:
data_list = page_soup.find_all('span', class_ = 'datavalue') #finds all the numbers on the page
data_list = data_list[20:] #skip the first worthless values
# data_list

In [309]:
page_soup.find_all('span', class_ = 'datavalue')[31].text #when there is a p this marks the end of a line!!!

'(p)-12.2'

In [310]:
rows = page_soup.find_all('p', class_ = 'sub0') #every row label of table
row_text = []
for i,val in enumerate(rows):
    if '(3)' in rows[i].text:
        row_text.append(rows[i].text[:-3]) #remove pesky little 3
    else:
        row_text.append(rows[i].text)
row_text = row_text[2:] # create a list of strings that indicate rows
# row_text

In [311]:
titles_text = []
for i, val in enumerate(titles):
    titles_text.append(titles[i].text)
titles_text = titles_text[2:] #list of table columns will go in df
# titles_text

In [312]:
# This part is tricky
#because half of our dataset is 12month change and therefore useless
#i've chose to skip every other row when adding data

row_dict = {text: [] for text in row_text} #initialize a dictionary with row titles as keys
n=0 # counts every row
w=0 #counts every evenly divisble row

for i,tag in enumerate(data_list):
#     print(n,w,i) #uncomment to see iteratables
    
    # if n is odd than row is not of interest hence continue allows loop to go to next data value(i)
    #however, if it is the end of the row indicated by (p) then we need to iterate w to indicate a new row
    if n %2 != 0: 
        
        
        
        if '(p)' in data_list[i].text:
            w+=1
            n+=1
        continue
        
    #if n is odd than row is of interest and we check if it is end of a line to figure out if we iterate n or not
    
    if '(p)' in data_list[i].text:# indicate when you've reached the end of a row!
        row_dict[row_text[w]].append(data_list[i].text[3:])# add to dict remove  (p) from text
        n+=1
    
    #else indicates that n is even(row is of interest) and it is not the last value of a row(don't iterate n or w)
    else:
        values.append(data_list[i].text)
        row_dict[row_text[w]].append(data_list[i].text)

In [315]:
# row_dict #this is the dictionary, we'll turn it into a df

In [314]:
import pandas as pd
pd.DataFrame.from_dict(row_dict, orient='index',columns = titles_text) #final data frame can now do some analysis

,Jan 2020,Feb 2020,Mar 2020,Apr 2020,May 2020,June 2020
Total Nonfarm,114.3,114.4,113.6,102.0,100.0,100.8
"Mining, Logging, and Construction",38.8,38.9,38.6,33.3,30.9,30.3
Manufacturing,4.3,4.2,4.2,3.7,3.8,3.9
"Trade, Transportation, and Utilities",22.7,22.6,22.6,20.7,20.5,20.9
Information,1.0,1.0,1.0,1.0,0.9,0.9
Financial Activities,4.8,4.9,4.8,4.7,4.5,4.5
Professional and Business Services,11.4,11.5,11.2,10.6,10.6,10.7
Education and Health Services,6.9,6.8,6.7,6.5,6.5,6.6
Leisure and Hospitality,10.9,10.9,10.9,8.9,9.9,10.7
Other Services,4.1,4.1,4.1,3.4,3.2,3.3
Government,9.4,9.5,9.5,9.2,9.2,9.0